@model TaskLog2ndGen.Models.Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.roleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.roleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.lastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.employeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
