@using TaskLog2ndGen.Models
@{
    Account account = Session["account"] as Account;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Log 2nd Gen</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        @Html.ActionLink("Task Log 2nd Gen", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                @if (account != null)
                {
                    <li>@Html.ActionLink("Teams", "Index", "Teams", null, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Tasks
                        </a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("By Assignment", "TasksByAssignment", "Tasks", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("By Team", "TasksByTeam", "Tasks", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("By Time Spent", "TasksByTimeSpent", "Tasks", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("By Status", "TasksByStatus", "Tasks", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    if (account.roleCode != "Employee")
                    {
                        <li>@Html.ActionLink("Employees", "Index", "Employees", null, new { @class = "nav-link" })</li>
                    }
                    <li>@Html.ActionLink("Reports", "Index", "Reports", null, new { @class = "nav-link" })</li>
                }
            </ul>
            @if (account == null)
            {
                @Html.Partial("_LoginPartial")
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
        <div class="container">
            <span class="navbar-brand">&copy; @DateTime.Now.Year</span>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>