@using TaskLog2ndGen.Models
@{
    var account = Session["account"] as Account;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Log 2nd Gen</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#">Task Log 2nd Gen</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                @if (account != null)
    {
            <li>@Html.ActionLink("Teams", "Index", "Teams", null, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("Tasks", "Index", "Tasks", null, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("Employees", "Index", "Employees", null, new { @class = "nav-link" })</li>
}
            </ul>
            @if (account == null)
            {
                @Html.Partial("_LoginPartial")
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <table style="width: 100%;">
                <tr>
                    <td>&copy; @DateTime.Now.Year</td>
                    <td>
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>