@model IEnumerable<TaskLog2ndGen.ViewModels.TaskViewModel>

<h2>List of Tasks</h2>

<div class="row">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Create Task", "Create", "Tasks", null, new { @class = "btn btn-secondary" })
        </p>
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <div class="form-inline float-md-right">
                <p>
                    @Html.TextBox("searchCriterion", "", new { @class = "form-control", placeholder = "Search task..." })
                    <input type="submit" value="Search" class="btn btn-secondary" />
                </p>
            </div>
        }
    </div>
</div>

<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Task Status", "Index", new { sortCriterion = ViewBag.statusSortCriterion })
            </th>
            <th>
                Primary Contact
            </th>
            <th>
                Secondary Contact
            </th>
            <th>
                @Html.ActionLink("Assigned Employees", "Index", new { sortCriterion = ViewBag.assignmentSortCriterion })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.task.dateLogged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.task.dateSubmmited)
            </th>
            <th>
                @Html.ActionLink("Service Team", "Index", new { sortCriterion = ViewBag.teamSortCriterion })
            </th>
            <th>
                Service Group
            </th>
            <th>
                Business Unit
            </th>
            <th>
                Platform
            </th>
            <th>
                Environment
            </th>
            <th>
                Category
            </th>
            <th>
                Urgency
            </th>
            <th>
                Application
            </th>
            <th>
                @Html.DisplayNameFor(model => model.task.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.task.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.task.links)
            </th>
            <th>
                High Level Estimate
            </th>
            <th>
                @Html.ActionLink("Total Time Spent", "Index", new { sortCriterion = ViewBag.timeSpentSortCriterion })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.TaskStatu.taskStatusCode)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.Employee1.fullName)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.Employee.fullName)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.assignedEmployees)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.dateLogged)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.dateSubmmited)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.Team.name)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.Group.name)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.BusinessUnit1.description)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.Platform1.platformCode)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.Environment1.environmentCode)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.Category1.categoryCode)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.Urgency1.urgencyCode)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.Application1.name)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.title)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.description)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.links)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.task.HighLevelEstimate1.highLevelEstimateCode)</a>
                </td>
                <td>
                    <a href=@("/Tasks/Details/" + item.task.taskId)>@Html.DisplayFor(modelItem => item.totalTimeSpent)</a>
                </td>
            </tr>
        }
    </tbody>
</table>