@model IEnumerable<TaskLog2ndGen.Models.Team>

<h2>List of Teams</h2>

<p>
    @Html.ActionLink("Create Team", "Create")
</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Teams/Details/1">@Html.DisplayFor(modelItem => item.name)</a>
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.teamId }) |
                @Html.ActionLink("View", "Details", new { id = item.teamId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.teamId })
            </td>*@
        </tr>
    }
</table>