@model IEnumerable<TaskLog2ndGen.Models.Team>

<h2>List of Teams</h2>

<p>
    @Html.ActionLink("Create Team", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.teamId }) |
                @Html.ActionLink("View", "Details", new { id = item.teamId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.teamId })
            </td>
        </tr>
    }
</table>