@model TaskLog2ndGen.Models.Worksheet

<h2>View Worksheet</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task1.title)
        </dd>

        <dt>
            Employee Assigned
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee1.firstName) @Html.DisplayFor(model => model.Employee1.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateAssigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateAssigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.worksheetStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.worksheetStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeSpent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeSpent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.onCall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onCall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.overtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.overtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.links)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.links)
        </dd>
    </dl>
</div>

<h3>Worksheet History</h3>

<dl class="dl-horizontal">
    @foreach (var item in Model.WorksheetAudits.OrderByDescending(m => m.dateLogged))
    {

        <dt>
            @item.dateLogged - @item.Employee.firstName @item.Employee.lastName
        </dt>

        <dd>
            @item.notes
        </dd>
    }
</dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.worksheetId }, new { @class = "btn btn-secondary" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.worksheetId }, new { @class = "btn btn-secondary" })
</p>